.main{
  margin: 0 auto;
  max-width: 911px;
  height: calc(100vh - 140px);
  overflow: auto;
  flex: 1;
}

.main-inner{
  padding: 33px 0;
}


.class_ph{
  margin-bottom: 15px;
  width: 523px;
  height: 316px;
}

.main-item{
  margin-bottom: 15px;
  width: 635px;
  position: relative;
}

.item-title{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 25px;
}

.text{
  font-family: 'Roboto', sans-serif;
  max-width: 634px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  position: relative;
}

em{
  color: #CF5510;
}

span{
  font-weight: 900;
}

.learn{
  position: absolute;
  font-family: 'Lobster';
  right: -256px;
  top: 50px;
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  color: #646464;
}

@media screen and (max-width: 1140px) {
  .main-inner{
    padding: 20px 0 0 0;
    width: 90%;
    margin: 0 auto;
  }
  .learn{
    display: none;
    /* учимся вместе пропадет */
  }
} 

@media screen and (max-width: 700px) {
  .main-item{
    width: 100%;
  }
  .class_ph{
    width: 100%;
  }
} 
